<h1>Edit Employee</h1>

<%= render "form", person: @person %>

<p><%= link_to "Back to Directory", people_path %> |  <%= link_to "Delete", person_path(@person), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"
} %></p>
