<h1> LST Emergency Contacts </h1>

<ul>
<% @people.each do |person| %>
  <li>
    <%= link_to person.name, person %>
    <%= number_to_phone(person.contact, area_code: true) %>
    <! <%= person.department %> >
  </li>
  <% end %>
</ul>

<%= link_to "Add Employee", new_person_path %>
