html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #222222;
    text-rendering: optimizeLegibility;
    line-height: 1.4;
}
h1 {
  text-align: center;
}

body {
    background: #fff;
    color: #000000;
    padding: 0;
    margin: 2rem;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.25;
    position: relative;
    cursor: auto;
}

a {
    color: #2c76c7;
    text-decoration: none;
    line-height: inherit;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    color: #041E42
}

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input[type=text] {
  padding: 10px 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #041E42;
  border-radius: 4px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #041E42;
    color: white;
}

/*
ul {
  margin-left: 1.25rem;
}


html.js input.throbbing {
    background-image: url(https://libraries.psu.edu/misc/throbber-active.gif);
    background-position: 100% center;
}

html.js fieldset.collapsed {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    height: 1em;
}

html.js fieldset.collapsed .fieldset-wrapper {
    display: none;
}

fieldset.collapsible {
    position: relative;
}

fieldset.collapsible .fieldset-legend {
    display: block;
}

.form-textarea-wrapper textarea {
    display: block;
    margin: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.resizable-textarea .grippie {
    background: #eee url(https://libraries.psu.edu/misc/grippie.png) no-repeat center 2px;
    border: 1px solid #ddd;
    border-top-width: 0;
    cursor: s-resize;
    height: 9px;
    overflow: hidden;
}

body.drag {
    cursor: move;
}

.draggable a.tabledrag-handle {
    cursor: move;
    float: left;
    height: 1.7em;
    margin-left: -1em;
    overflow: hidden;
    text-decoration: none;
}

a.tabledrag-handle:hover {
    text-decoration: none;
}

a.tabledrag-handle .handle {
    background: url(https://libraries.psu.edu/misc/draggable.png) no-repeat 6px 9px;
    height: 13px;
    margin: -0.4em 0.5em;
    padding: 0.42em 0.5em;
    width: 13px;
}

a.tabledrag-handle-hover .handle {
    background-position: 6px -11px;
}

div.indentation {
    float: left;
    height: 1.7em;
    margin: -0.4em 0.2em -0.4em -0.4em;
    padding: 0.42em 0 0.42em 0.6em;
    width: 20px;
}

/**/
/*

.field .field-label {
    font-weight: bold;
}

.field-label-inline .field-label, .field-label-inline .field-items {
    float: left;
}

form .field-multiple-table {
    margin: 0;
}

form .field-multiple-table th.field-label {
    padding-left: 0;
}

form .field-multiple-table td.field-multiple-drag {
    width: 30px;
    padding-right: 0;
}

form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
    padding-right: .5em;
}

form .field-add-more-submit {
    margin: .5em 0 0;
}
/**/
/*

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background: #fff;
    color: #000000;
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    position: relative;
    cursor: auto;
}

.branding {
    background-color: #000000;

}

/**/
/*

a {
    background-color: transparent;
}

a:active, a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**/
/*
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled], html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

/**/
/*
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

a {
    color: #2c76c7;
    text-decoration: none;
    line-height: inherit;
}

a:hover, a:focus {
    color: #163b64;
}

a img {
    border: none;
}

p {
    font-family: inherit;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 0.625rem;
    text-rendering: optimizeLegibility;
}

p.lead {
    font-size: 1.21875rem;
    line-height: 1.6;
}

p aside {
    font-size: 0.875rem;
    line-height: 1.35;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #222222;
    text-rendering: optimizeLegibility;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    line-height: 1.4;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 60%;
    color: #6f6f6f;
    line-height: 0;
}

h1 {
    text-align: center
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 1rem;
}

.subheader {
    line-height: 1.4;
    color: #6f6f6f;
    font-weight: normal;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

hr {
    border: solid #DDDDDD;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25rem 0 1.1875rem;
    height: 0;
}

em, i {
    font-style: italic;
    line-height: inherit;
}

strong, b {
    font-weight: bold;
    line-height: inherit;
}

small {
    font-size: 60%;
    line-height: inherit;
}

code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: normal;
    color: #333333;
    background-color: #f8f8f8;
    border-width: 1px;
    border-style: solid;
    border-color: #dfdfdf;
    padding: 0.125rem 0.3125rem 0.0625rem;
}

ul, ol, dl {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 0.625rem;
    list-style-position: outside;
    font-family: inherit;
}

ul {
    margin-left: 1.1rem;
}

ul.no-bullet {
    margin-left: 0;
}

ul.no-bullet li ul, ul.no-bullet li ol {
    margin-left: 1.25rem;
    margin-bottom: 0;
    list-style: none;
}

ul li ul, ul li ol {
    margin-left: 1.25rem;
    margin-bottom: 0;
}

ul.square li ul, ul.circle li ul, ul.disc li ul {
    list-style: inherit;
}

ul.square {
    list-style-type: square;
    margin-left: 1.1rem;
}

ul.circle {
    list-style-type: circle;
    margin-left: 1.1rem;
}

ul.disc {
    list-style-type: disc;
    margin-left: 1.1rem;
}

ul.no-bullet {
    list-style: none;
}



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
